<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksmoothes</title>
    <link rel="stylesheet" href="/stylesheet/main.css">
</head>
<body>
    <%- include("partial/nav.ejs") %>
    <div class="background">
        <img src="images/background_image_2.png"/>
    </div>
    <% smoothies.forEach(smoothie => { %>
        <%- include("smoothies/show.ejs", { smoothie: smoothie }) %>
    <% }) %>
</body>
</html>