<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navigation</title>
    <link rel="stylesheet" href="/stylesheet/main.css">
</head>
<body>
    <header>
        <div class="nav_bar">
            <div class="nav_bar_container">
                <div class="logo">
                    <a href="/smoothies"><img src="images/Ksmoothies_logo.png"/></a>
                </div>
                <div class="directions">
                    <div class="options">
                        <a href="smoothies/show"><h2>menu</h2></a>
                        <a><h2>locations</h2></a>
                        <a><h2>about us</h2></a>
                        <a href="smoothies/new"><h2>create a smoothies</h2></a>
                    </div>
                    
                    <div class="authentication">
                        <a><h2>sign in</h2></a>
                        <a><h2>sign up</h2></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>